<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE xml>
 -->
 
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
 <suite name="test suite" verbose="2" parallel="methods" thread-count="2">
 <listeners>
 <listener class-name="testNG.listenerExample"></listener>
 </listeners>
<test name="test case">
<!-- <groups>
	<run>
		<include name="moto"></include>
		<include name="vivo"></include>
	</run>
</groups>
 -->
 
 <!-- 
<parameter name="name" value="unicorn"></parameter> 
  -->
 <classes>

<!-- <class name="testNG.dependenciesMgmt"></class>
<class name="testNG.driveCar"></class>
<class name="testNG.FirstPrgm"></class>
<class name="testNG.suiteExample"></class>
 -->
 
 <class name="testNG.FirstPrgm"></class>

</classes>

</test>
</suite>
